*.iml
.DS_Store
.classpath
.idea/
.mvn/
.npmrc
.pom.xml.temp
.prettierrc.js
.project
.settings
.vscode/
/target/
drivers/
error-screenshots/
frontend/generated/
node_modules/
pnpmfile.js
vite.generated.ts
webpack.generated.js
data/
.env
